<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.threeloe.nano.demo"
    >

    <application
        android:name="${applicationName}"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:appComponentFactory="com.threeloe.nano.demo.DemoAppComponentFactory"
        android:theme="@style/Theme.SoCompress"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name="com.threeloe.nano.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SoCompress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"/>

    </application>

</manifest>